 /* comment here */
body {
  font-family: sans-seriff;
  background-color: rgba(100, 100, 100, 0.5);
  margin: 0px;
}

#bg-img {
  position: fixed;
  z-index: -1;
  top: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 0.65
}

h1 {
  background-color: blue; 
  width: 49%;
  padding: 10px;
  margin: 5px auto;
  text-align: center;
  text-shadow: 2px 2px red;
  border-radius: 10px;
  border: solid 5px black;
  
}

p, h2{
   color: blue;
   font-size:15px;
}

 a {
   color:red;
}
      
a:hover {
  color:blue;
}
      
ul li {
  font-style:italic;
  size: 15px;
}
      
.int-link, ol p {
  font-weight:bold;
}
      
#mail-link {
  color:gray;
}
      
#mail-link {
  color:green;
}

#footer {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/565/207/small/vector-may-2019-7.jpg);
}
