 p, h1, h2{
   color:green;
   font-size:12px;
}

 a {
   color:red;
}
      
a:hover {
  color:blue;
}
      
ul li {
  font-style:italic;
}
      
.int-link, ol p {
  font-weight:bolder;
}
      
#mail-link {
  color:gray;
}
      
#mail-link {
  color:blue;
}
